<div class="container about">
  <div class="row content">
    <div class="col-12">
      <h4>About</h4>
      <ul>
        <li>Angular 2</li>
        <li>Bootstrap</li>

      </ul>
    </div>
  </div>
</div>
