<div class="container" style="position:relative">
  <span id="top-line"></span>
</div>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="" (click)="setTitle( 'Phones' )"><span style="color:#ef9700;">P</span>hones</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/" (click)="setTitle( 'Phones' )">HOME </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="whatsnew" (click)="setTitle( 'What\'s New' )">WHAT'S NEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="smartphones" (click)="setTitle( 'Smartphones' )">SMARTPHONES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="rewiew" (click)="setTitle( 'Rewiew' )">REWIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about" (click)="setTitle( 'About' )">ABOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <p>
      &copy; Copyright 2017 - 2018. All Right Reserved. | Designed by Fatma Aşık.
    </p>
  </div>
</footer>
