
<section class="container">
  <div class="row">

    <div class="col-md-12 col-sm-12">
      <div class="featured">
        <h5 class="title">FEATURED PRODUCTS</h5>
        <div class="products">
          <div class="row">
            <div *ngFor="let phone of smartphones" class="col-6 col-md-3 col-lg-2 product-item">
              <a routerLink="/product/{{phone.id}}">
                <div class="card"  style="height:260px">
                  <img class="card-img-top product-image" src="assets/img/phone2.png" alt="Card image cap">
                  <div class="card-body">
                    <span class=product-name>{{phone.name }} </span>
                    <span class="product-price">{{phone.price}} TL</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
