
.product-item{
  min-height: 774px;
  padding: 20px ;
  background: white;
  -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
}
.content{
  margin: 20px auto;
}
img{
  width: 100%;
  height: auto;
}

.image-slide{
  background: #f7f1f1;
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
}

.image-slide img{
  background: white;
    margin-bottom: 20px;
}
.thumb{
  float: left;
}


table{
  width: 80%;
  margin: 1rem auto;
}
@media (max-width:768px) {
  table{
    width: 100% ;
  }
}
.properties h5{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px 10px;
    border-bottom: 2px solid;
    color: #ef9700;
}

.properties table{
  font-size: 0.85rem;
}

table tr td:first-child{
  font-weight: bold;
      color: #ecb369;
}
