<div class="container product-item">
  <div class="row content">
    <div class="col-md-4 col-sm-12 image-slide">
        <img class="img-fluid ml-auto"  src="assets/img/phone.png"/>
        <div class="gallery">
          <div class="col-md-4 col-4 thumb">
            <img class="img-thumbnail " src="assets/img/phone.png" />
          </div>
          <div class="col-md-4 col-4 thumb">
            <img class="img-thumbnail " src="assets/img/phone.png" />
          </div>
          <div class="col-md-4 col-4 thumb">
            <img class="img-thumbnail " src="assets/img/phone.png" />
          </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 properties">
      <h5>{{product.name}} - {{product.price}} TL</h5>
      <table class="table">
        <tbody>
          <tr>
            <td>Brand</td>
            <td>{{product.brand}}</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>{{product.weight}}</td>
          </tr>
          <tr>
            <td>Dimensions</td>
            <td>{{product.dimensions}}</td>
          </tr>
          <tr>
            <td>Operating System</td>
            <td>{{product.os}}</td>
          </tr>
          <tr>
            <td>Screen Type</td>
            <td>{{product.screenType}}</td>
          </tr>
          <tr>
            <td>Battery Power</td>
            <td>{{product.batteryPower}}</td>
          </tr>
          <tr>
            <td>RAM </td>
            <td>{{product.ram}}</td>
          </tr>
          <tr>
            <td>Screen Size</td>
            <td>{{product.screenSize}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
